<!DOCTYPE html>
<html>
<head>
  <title>ECS Workshop Portal</title>
  <script>
    /*
    function load() {
      setTimeout(function() {location=''}, 50)
    }
    window.onload = load;
    */
  </script>
</head>
<body>
<h1> Welcome to ECS Workshop Portal ! Hope you enjoing it :) </h1>
<%= yield %>

</body>
</html>
